<!DOCTYPE html>

<html>
<head>
	<title>SoundTrack</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body>
  	<div class="container">
  		<center>
		<div class="jumbotron">
			<h1>SoundTrack</h1>
		</div>

		<button type="button" onclick="helpListen()">?</button>

		<div class="button" id="back">
			<a href="/" class="thumbnail">
				<p>Back</p>
			</a>
		</div>
		
		<h4>Productivity Tracker</h4>
		<div>Productive for: <span id="productiveTime"></span></div>
		<br>
		<div>Off-Task time left: <span id="timer"></span></div>


		<br><br>
		<h4>Soundscape</h4>

      	<div class="sound" id="sound1">
			<a href="" class="thumbnail">
				<p>Soundscape sound goes here</p>
			</a>
		</div>
		<button type="button" ">Left</button>
		<button type="button" ">Right</button>

		
		<br><br>
		<div class="button" id="edit">
			<a href="alertsettings" class="thumbnail">
				<p>Alert Settings</p>
			</a>
		</div>
      	
		
    	</center>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/script.js"></script>
  </body>
</html>
